body {
	padding: 0;
	margin: 0;
	color: black;
	font-size: 16px;
	max-width: 1920px;
}

* {
	box-sizing: border-box;
	transition: all .2s;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

h2 {
	font-size: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
}

h3 {
	font-size: 20px;
	margin-bottom: 28px;
}

h4 {
	font-size: 20px;
	margin-bottom: 28px;
	text-align: center;
}

a {
	text-decoration: none;
}

section {
	padding-top: 70px	
}

p {
	margin: 0;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

.container {
	width: 1170px;
	margin: 0 auto; 
}

.header {
	background: url('../img/header-bg.jpg')  no-repeat center top / cover;
	padding-top: 57px;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	padding-bottom: 306px;
	width: 100%;
}

.header2 {
	background: url('../img/header-bg.jpg')  no-repeat center top / cover;
	padding-top: 57px;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	padding-bottom: 35px;
	width: 100%;
}

header a {
	color: #fff;
}

.logo {
	margin-right: 69px;
}

.menu {
	display: flex;
}

.menu li a {
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 0.1em;
}

.menu li a:hover {
	border-bottom: 1px solid #fff;
}

.menu li {
	margin-right: 40px;
}

.tel {
	font-size: 17px;
	margin-left: auto;
	letter-spacing: 0.1em;
}

.nav {
	display: flex;
	align-items: center;
}

.offer {
	text-transform: uppercase;
	margin-top: 216px;
}

.offer p {
	font-size: 30px;
	letter-spacing: 0.1em;
}

.offer h1 {
	font-size: 100px;
	margin-bottom: 19px;
	margin-top: -9px;
	letter-spacing: 0.02em
}

.btn {
	display: block;
	font-size: 17px;
	text-align: center;
	letter-spacing: 0.1em;
	padding: 17px 47px;
	border: 1px solid #fff;
	width: 238px;
	transition: all 0.5s ease;
	margin-top: 20px;
}

.btn:hover {
	background: #fff;
    color: #000;
}

.description {
	display: flex;
	justify-content: space-between;
}

.description p {
	font-weight: 400;
	text-align: justify;
	line-height: 1.62em;
}

.desc-left, .desc-right {
	width: 250px;
}
.desc-left-down, .desc-right-down {
	width: 250px;
}
.desc-center{
	width: 500px;
	text-align: center;
}

.gallery {
	margin-top: 67px;
	display: flex;
	justify-content: space-between;
}

.gallerydelivery {
	margin-top: 25px;
	display: flex;
	justify-content: space-between;
}

.gallery img {
	transition: all 0.5s ease;
}

.gallery img:hover {
	box-shadow: 0 20px 40px rgba(0,0,0,0.3);
	transform: scale(1.1);
}

.footer-text {
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	padding: 45px;
	color: white;
}

.footer-text p {
	margin-right: 67px;
}

.footer{
	text-decoration: none;
	letter-spacing: 0.1em;
	margin-top: 103px;
	width: 100%;
	background: url('../img/footer-bg.jpg') no-repeat center top / cover;
}

footer a {
	color: #fff;
}

footer img{
	width: 2%;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: #ff6699;
  background-image: linear-gradient(19deg, #ff6666 30%, #ff5050 70%);
  z-index: 1001;
  color: #eee;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
   100% {
    transform: rotate(360deg);
      	}
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.element::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar {
  width: 0;
}
